<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if session["instance_id"] is defined %}{{ session["instance_name"] }} | {% endif %}{% block title %}{% endblock %}</title>

	<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	{% block styles %}{% endblock%}
</head>
<body>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}

	{% if session["instance_id"] is defined %}
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-2 col-md-1 mr-0" href="#">{{ session["instance_name"] }}</a>
		<ul class="navbar-nav flex-row px-3">
			<li class="nav-item text-nowrap pr-4">
				<a class="nav-link" href="{{ url_for('auth.change_password') }}">Change password</a>
			</li>
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
			</li>
		</ul>
	</nav>
	{% endif %}

	<div class="container-fluid">
		{% if session["instance_id"] is defined %}
		<div class="row">
			<nav class="col-md-1 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link {% block dashboard_active %}{% endblock %}" href="{{ url_for('dashboard.index') }}">
								<i data-feather="home"></i>
								Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% block notes_active %}{% endblock %}" href="{{ url_for('notes.index') }}">
								<i data-feather="file-text"></i>
								Notes
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% block files_active %}{% endblock %}" href="{{ url_for('files.index') }}">
								<i data-feather="cloud"></i>
								Files
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% block timer_active %}{% endblock %}" href="{{ url_for('timers.index') }}">
								<i data-feather="clock"></i>
								Timers
							</a>
						</li>
					</ul>
					<img class="sidebar-brand" src="{{ url_for('static', filename='images/icon-text.png') }}" alt="moonmen Logo">
				</div>
			</nav>
		</div>
		{% endif %}
		<main class="ml-sm-auto px-4 {% if session["instance_id"] %}col-md-11{% endif %}">
			{% block content %}{% endblock %}
		</main>
	</div>

	<script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script>feather.replace()</script>
	{% block scripts %}{% endblock %}
</body>
</html>
