{% extends "base/layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block dashboard_active %}active{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
        <h2>Dashboard</h2>
    </div>
    <section>
    	<div class="row">
    		<div class="col-md-12">
    			<ul class="list-unstyled pt-3">
    				<li>
                        <span class="font-weight-bold pr-3">Project name:</span> {{ session["instance_name"] }}
                    </li>
                    {% if instance_desc %}
    				<li>
                        <span class="font-weight-bold pr-3">Project description:</span>{{ instance_desc }}
                    </li>
                    {% endif %}
    				{% if instance_repo %}
                    <li>
                        <span class="font-weight-bold pr-3">Repository:</span><a href="{{ instance_repo }}">{{ instance_repo }}</a>
                    </li>
                    {% endif %}
    			</ul>
    		</div>
    	</div>
    </section>
{% endblock %}

