<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ projectname }} | Login</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}

	<div class="container">
		<form class="form-signin" action="/login" method="POST">
			<h2 class="mb-3">{{ projectname }}</h2>
			<input class="form-control" name="password" type="password" placeholder="Password" autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			<img class="mb-4" src="{{ url_for('static', filename='images/icon-text.png') }}" alt="Moonmen">
		</form>
	</div>
</body>
</html>
