{% extends "layout.html" %}
{% block title %}Notes{% endblock %}
{% block notes_active %}active{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
        <h2>Notes</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" data-toggle="modal" data-target="#notesModal" data-action="add" class="btn btn-sm btn-outline-secondary">
            	<i data-feather="plus-square"></i>   Add
            </button>
        </div>
    </div>
    <section>
        <div class="row">
    	{% for note in session["notes"] %}
        <button class="file col-md-10 offset-md-1 border pt-1 pb-1 mb-3 bg-light" type="button" data-toggle="collapse" data-target="#note-text-{{ note['id'] }}">
            <div class="float-left">
    		    <h4>{{ note["title"] }}</h4>
            </div>
            <a class="float-right text-danger" href="/api/notes_delete/{{ note['id'] }}">
                <i data-feather="x-square"></i>
             </a>
            <a class="float-right" data-toggle="modal" data-noteid="{{ note['id'] }}" data-notetitle="{{ note['title'] }}" data-notecontent="{{ note['content'] }}" data-action="edit" href="#notesModal">
               <i data-feather="edit"></i>
            </a>
        </button>
        <div class="file col-md-10 offset-md-1 border pt-1 pb-1 mb-3 bg-light collapse"  id="note-text-{{ note['id'] }}">
            <div class="card-text">
                <pre><code class="language-{{ note['language'] }}"><p>{{ note["content"] }}</p></code></pre>
            </div>
        </div>
    	{% endfor %}
        </div>
    </section>

    <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize"></h5>
                </div>
                <div class="modal-body">
                    <form id="modal-form" method="POST">
                        <div class="form-group">
                            <label for="title-input" class="col-form-label">Note Title:</label>
                            <input required type="text" class="form-control" name="title-input" maxlength="30" id="title-input">
                        </div>
                        <div class="form-group">
                            <label for="content-input" class="col-form-label">Note Content:</label>
                            <textarea required class="form-control" name="content-input" maxlength="400" id="content-input"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="language-input" class="col-form-label">Language</label>
                            <select required class="form-control" name="language-input" id="language-input">
                                <option selected value="xxxx">-----</option>
                                <option value="cpp">C++</option>
                                <option value="python">Python</option>
                                <option value="c">C</option>
                                <option value="js">JavaScript</option>
                                <option value="java">Java</option>
                                <option value="csharp">C#</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="modal-form" class="btn btn-primary modal-action text-capitalize"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $("#notesModal").on("show.bs.modal", function (event) {
        let button = $(event.relatedTarget);
        let action = button.data("action");
        let modal = $(this);
        let form = modal.find("#modal-form");

        if(action == "edit") {
            let note_id = button.data("noteid");
            let note_title = button.data("notetitle");
            let note_content = button.data("notecontent");
            let note_language = button.data("notelanguage");

            form.attr("action", "/api/notes_edit?id=" + note_id);

            modal.find("#title-input").val(note_title);
            modal.find("#content-input").val(note_content);
            modal.find("#language-input").val(note_language);
        }
        else {
            form.attr("action", "/api/notes_add");

            modal.find("#title-input").val("");
            modal.find("#content-input").val("");
            modal.find("#language-input").val("");
        }

        modal.find(".modal-title").text(action + " Note");
        modal.find(".modal-action").text(action);
    });
</script>
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
{% endblock %}
