{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}
{% block tasks_active %}active{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
        <h2>Tasks</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          	<div class="btn-group mr-2">
            	<button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
            	<button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
          	</div>
        </div>
    </div>
{% endblock %}

