{% extends "base/layout.html" %}
{% block title %}Change password{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
        <h2>Change password</h2>
    </div>
    <section>
    	<div class="row">
    		<form class="form-changepassword" action="{{ url_for('auth.change_password') }}" method="POST">
                <div class="form-group">
                    <label for="old-password-input">Old password</label>
                    <input class="form-control" name="old_password" id="old-password-input" type="password" autofocus>
                </div>
                <div class="form-group mt-2">
                    <label for="new-password-input">New password</label>
                    <input class="form-control" name="new_password" id="new-password-input" type="password">
                </div>
                <div class="form-group mt-2">
                    <label for="new-password-confirmation-input">Confirm new password</label>
                    <input class="form-control" name="new_password_confirmation" id="new-password-confirmation-input" type="password">
                </div>
                <button class="btn btn-primary btn-block mt-2" type="submit">Update password</button>
            </form>
    	</div>
    </section>
{% endblock %}
